@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 1s ease-in-out;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  background-color: #fff;
  display: table;
  transition: height 10s ease-in-out;
  
}

.quote-text {
  
  text-align: center;
  width: 450px;
  font-weight: 500;
  font-size: 1.75em;
}

i {
  font-size: 1em;
  margin-right: 0.4em;
}
.quote-author {
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}
.buttons {
  display: block;
  
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
  color: #fff;
  background-color: #333;
  margin-top: 30px;
  margin-right: 5px;
  transition: background-color 0.5s ease-in-out;
  
}

.button:hover {
  opacity: 0.9;
}
#tweet-quote, #fb-quote {
  float: left;
  text-align: center;
  padding: 0px;
  padding-top: 8px;
  height: 30px;
  width: 40px;
}
#new-quote {
  float: right;
}